.brandsCompoents{
    color: rgba(29, 50, 88, 0.8) !important;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 2px;
    margin: 50px 0px 50px 0px !important;
}
.AffiliationComponents{
    color: rgba(29, 50, 88, 0.8) !important;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 2px;
    margin: 50px 0px 50px 0px !important;
}