.ElveFooterMain{
    color: rgba(29, 50, 88, 0.8) !important;
    display: flex;
    border-top: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;

}
.ElveFooter1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.elveBox1Title{
    font-size: 30px;
    font-weight: 500;
}
.eleBox1InputBox{
    height: 40px;
    width: 40%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    outline: none;
}
.elevBox1Btn{
    height: 40px;
    width: 160px;
    border: 1px solid black;
    background-color: #e2f0f0;
    font-weight: 500;
    font-size: 25px;

}
.ElveFooter2{
    width: 20%;
}
.ElveFooter3{
    width: 20%;
}
.ElveFooter4{
    width: 20%;
}

.ElevFooterBoxTitle{
    font-size: 30px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}
.ElveFooterDesc{
    font-size: 19px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

.ElevBox4Title{
    font-size: 17px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}